<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h1>Game</h1>
<form action="/games" method="post" th:object="${game}">
  <label>ID</label> <input th:field="*{gameId}" /><br/>
  <label>Título</label> <input th:field="*{title}" /><span th:errors="*{title}"></span><br/>
  <label>Gênero</label> <input th:field="*{genre}" /><br/>
  <label>Ano</label> <input th:field="*{releaseYear}" /><br/>
  <label>Preço</label> <input th:field="*{price}" /><br/>
  <button type="submit">Salvar</button>
</form>
<a href="/games">Voltar</a>
</body>
</html>
