<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h1>Reviews do Game [[${gameId}]]</h1>
<a th:href="@{'/reviews/game/' + ${gameId} + '/new'}">Nova Review</a>
<ul>
  <li th:each="r : ${reviews}">
    <b th:text="${r.reviewId}">1</b> -
    <span th:text="${r.rating}">8.5</span> -
    <span th:text="${r.reviewText}">Texto</span>
    <a th:href="@{'/reviews/' + ${r.reviewId} + '/edit'}">Editar</a>
    <form th:action="@{'/reviews/' + ${r.reviewId} + '/delete'}" method="post" style="display:inline">
      <button type="submit">Excluir</button>
    </form>
  </li>
</ul>
<a href="/games">Voltar</a>
</body>
</html>
